
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 187 50% 94%;
    --foreground: 191 67% 10%;
    --card: 0 0% 100%;
    --card-foreground: 191 67% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 191 67% 10%;
    --primary: 191 67% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 163 79% 95%;
    --secondary-foreground: 191 67% 20%;
    --muted: 187 20% 90%;
    --muted-foreground: 191 20% 40%;
    --accent: 163 79% 57%;
    --accent-foreground: 191 67% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 191 20% 85%;
    --input: 191 20% 85%;
    --ring: 191 67% 41%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 191 67% 5%;
    --foreground: 187 50% 98%;
    --card: 191 67% 8%;
    --card-foreground: 187 50% 98%;
    --popover: 191 67% 8%;
    --popover-foreground: 187 50% 98%;
    --primary: 191 67% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 191 67% 12%;
    --secondary-foreground: 187 50% 98%;
    --muted: 191 67% 12%;
    --muted-foreground: 187 20% 70%;
    --accent: 163 79% 57%;
    --accent-foreground: 191 67% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 191 67% 15%;
    --input: 191 67% 15%;
    --ring: 191 67% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
